<button type="button" style="background-color: #0F3971;" (click)="openModal()" class="float-right btn btn-primary mb-2">Nuevo</button>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Programa</th>
      <th>Taller</th>
      <th>Fecha</th>
      <th>Lugar</th>
      <th colspan="3" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let taller of talleres; index as i">
      <td>{{i+1}}</td>
      <td>{{taller.programa.progNombre}}</td>
      <td>{{taller.tallTema}}</td>
      <td>{{taller.tallFecha | date:'dd/MM/YYYY'}}</td>
      <td>{{taller.tallLugar}}</td>
      <td class="text-center">
        <button (click)="openModalEdit(taller)" title='Editar' class="text-center" style="color: #0F3971;" mat-list-item>
          <mat-icon>create</mat-icon>
        </button>
      </td>
      <td class="text-center">
        <button (click)="onDelete(taller)" title='Eliminar' class="text-center" style="color: #ff0e0e;" mat-list-item>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
      <td class="text-center">
        <button (click)="openModalGestionar(taller)" title='Organizadores del taller' class="text-center" style="color: #6100FF;" mat-list-item>
          <mat-icon>how_to_reg</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

