<div class="modal-header">
  <h1 class="modal-title">{{title}} del taller : {{item.tallTema}}</h1>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmPersonaTaller">

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Persona</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="persona">
          <option *ngFor="let persona of personas; " [value]="persona.persId">
            {{persona.persNombres}} {{persona.persApPaterno}} DNI: {{persona.persDni}} Carrera: {{persona.carrera.carrNombre}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Taller</label>
      <div class="col-sm-9">
        <select   class="form-control" formControlName="taller">
          <option *ngFor="let taller of talleres" [value]="taller.tallId">
            {{taller.tallTema}}
          </option>
        </select>
      </div>
    </div>
    <div class="btn-asignar">
      <button type="button" style="background-color: #0F3971;" class="btn btn-primary" (click)="assign()">Asignar taller</button>
    </div>
    <br>
  </form>


<h4>Llamar asistencia para el taller {{item.tallTema}}</h4>
  <h5>F = Falto y A = Asistio</h5>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Carrera y ciclo</th>
        <th>Tipo de persona</th>
        <th>Asistencia</th>
        <th class="text-center">Opcion</th>
      </tr>
      </thead>
      <tbody *ngFor="let personaTaller of personasTaller; index as i" >
      <tr *ngIf="personaTaller.taller.tallId == tallId && personaTaller.persona.tipoPersona.tipeNombre == 'Estudiante'">
        <td>{{i+1}}</td>
        <td>{{personaTaller.persona.persNombres}}</td>
        <td>{{personaTaller.persona.persApPaterno}} {{personaTaller.persona.persApMaterno}}</td>
        <td>{{personaTaller.persona.carrera.carrNombre}} {{personaTaller.persona.carrera.carrCiclo}}</td>
        <td>{{personaTaller.persona.tipoPersona.tipeNombre}}</td>
        <td class="text-center">
          <button type="button" (click)="onAsistio(personaTaller)" class="btn" style="color: #2BDE07;" *ngIf="personaTaller.petaAsistencia =='F'">
            <mat-icon>check</mat-icon></button>
          <button type="button" (click)="onFalto(personaTaller)" class="btn" style="color: #ff0202;" *ngIf="personaTaller.petaAsistencia =='A'" >
            <mat-icon>cancel</mat-icon></button>
        </td>
        <td class="text-center">
          <button (click)="onDelete(personaTaller)" title='Eliminar' class="text-center" style="color: #ff0e0e;" mat-list-item>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
