<div class="modal-header">
  <h1 class="modal-title">{{title}} meditación</h1>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmMeditacion">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Reflexión</label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Reflexión</mat-label>
          <input autocomplete="off" formControlName="mediReflexion" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Versiculo de la reflexión</label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ejemplo: Salmos 33:4-8</mat-label>
          <input autocomplete="off" formControlName="mediVersiculo" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Oración</label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Finalizar con un Amén</mat-label>
          <input autocomplete="off" formControlName="mediOracion" matInput>
        </mat-form-field>
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" style="background-color: #0F3971;" [disabled]="frmMeditacion.invalid" *ngIf="title =='Nueva'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" style="background-color: #0F3971;" [disabled]="frmMeditacion.invalid" *ngIf="title =='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
