<div class="modal-header">
  <h4 class="modal-title">{{title}} Programa</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmPrograma">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Ingrese el nombre del programa</label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Programa</mat-label>
          <input autocomplete="off" formControlName="progNombre" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Descripción del programa</label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descripción</mat-label>
          <input autocomplete="off" formControlName="progDescripcion" matInput>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" [disabled]="frmPrograma.invalid" *ngIf="title =='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmPrograma.invalid" *ngIf="title =='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
<pre>{{frmPrograma.value | json}}</pre>
