<button type="button" style="background-color: #0F3971;" (click)="openModal()" class="float-right btn btn-primary mb-2">Nuevo</button>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Programa</th>
        <th>Descripción</th>
        <th colspan="2" class="text-center">Opciones</th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let programa of programas; index as i">
        <td>{{i+1}}</td>
        <td>{{programa.progNombre}}</td>
        <td>{{programa.progDescripcion}}</td>
        <td class="text-center">
          <button (click)="openModalEdit(programa)" title='Editar'  class="text-center" style="color: #0F3971;" mat-list-item>
            <mat-icon>create</mat-icon>
          </button>
        </td>
        <td class="text-center">
          <button (click)="onDelete(programa)" title='Eliminar' class="text-center" style="color: #ff0e0e;" mat-list-item>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
