table{
  table-layout: fixed;
}

.th-taller, .td-taller {
  width: 200px;
  word-wrap: break-word;
}
.th-id, .td-idr {
  width: 50px;
  word-wrap: break-word;
}

.th-1, .td-1 {
  width: 105px;
  word-wrap: break-word;
}

.th-2, .td-2 {
  width: 105px;
  word-wrap: break-word;
}

.th-3, .td-3 {
  width: 250px;
  word-wrap: break-word;
}
