<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink = "/admin/actividades/programas">
      <mat-icon>folder_shared</mat-icon>Programas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/talleres">
      <mat-icon>library_add</mat-icon>Talleres
    </button>

    <!-- MENU DESPLEGABLE-->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon mat-list-icon>list</mat-icon>Gestiones de taller
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-list-item routerLink = "/admin/actividades/materiales">
          <mat-icon>library_books</mat-icon>Materiales
        </button>
        <button mat-list-item routerLink = "/admin/actividades/asistencia">
          <mat-icon>how_to_reg</mat-icon>Marcar Asistencia
        </button>

        <button mat-list-item routerLink = "/admin/actividades/encuestas">
          <mat-icon>assignment</mat-icon>Generar encuesta
        </button>
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-list-item routerLink = "/admin/actividades/personas">
      <mat-icon>face</mat-icon>Personas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/carreras">
      <mat-icon>work</mat-icon>Carreras
    </button>
    <button mat-list-item routerLink = "/admin/actividades/meditaciones">
      <mat-icon>file_copy</mat-icon>Meditación
    </button>
    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
