<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink = "/admin/actividades/programas">
      <mat-icon>add_circle</mat-icon>Programas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/talleres">
      <mat-icon>library_add</mat-icon>Talleres
    </button>
    <button mat-list-item routerLink = "/admin/actividades/materiales">
      <mat-icon>library_books</mat-icon>Materiales
    </button>

    <button mat-list-item routerLink = "/admin/actividades/personas">
      <mat-icon>face</mat-icon>Personas
    </button>
    <button mat-list-item routerLink = "/admin/actividades/carreras">
      <mat-icon>work</mat-icon>Carreras
    </button>
    <button mat-list-item routerLink = "/admin/actividades/meditaciones">
      <mat-icon>file_copy</mat-icon>Meditación
    </button>
    <button mat-list-item routerLink = "/admin/actividades/encuestas">
      <mat-icon>assignment</mat-icon>Generar encuesta
    </button>

    <button mat-list-item routerLink = "/">
      <mat-icon mat-list-icon>logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
